{% extends "container.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Coenotur: {{ title }}{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-auto">
        <article class="container-fluid" id="login-article">
            <header><h1>{{ title }}</h1></header>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(size=32) }}<br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </article>
    </div>
</div>
{% endblock %}
