{% extends "container.html" %}
{% block title %}{{ _('Erweiterte Suche') }}{% endblock %}

{% block body %}
        <!-- BODY OF THE SEARCH PAGE - 1st row = title. -->
        <form action="" method="get" id="advanced-form">
            {{ form.hidden_tag() }}
            <div class="text-center"><h3><strong>{{ _('Erweiterte Suche') }}</strong></h3></div>
            <div class="row justify-content-center pt-2">{{ form.submit(size=32, class="btn btn-lg btn-secondary") }}</div>
            <br>
        <!-- 2d row = search entries. -->
            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="form-group mb-2">
                        <div class="text-center search-section-label"><strong><label for="word-search-box">{{ _('Allgemeine Wortsuche') }}</label></strong></div>
                        <div>
                            {{ form.simple_q(class="form-control my-0", placeholder=form.simple_q.label.text, id="word-search-box", list="word-search-datalist", default=form.simple_q.label.text, autocomplete="off") }}
                            <datalist id="word-search-datalist">
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <div class="text-center search-section-label"><strong>{{ form.identifier.label }}</strong></div>
                        <div>
                            {{ form.identifier(class="form-control my-0", placeholder=form.identifier.label.text, id="identifier-search-box", list="identifier-search-datalist", default=form.identifier.label.text, autocomplete="off") }}
                            <datalist id="identifier-search-datalist">
                            </datalist>
                        </div>
                    </div>
                    <div class="text-center search-section-label"><strong>{{ _('Entstehungsortssuche') }}</strong></div>
                    <div class="form-group form-row mb-2 align-items-center">
                        <div class="col-auto">
                            <div class="text-center search-section-label">{{ _('Ortsname') }}</div>
                        </div>
                        <div class="col">
                            <div>
                                {{ form.orig_place(class="form-control my-0", placeholder=form.orig_place.label.text, id="orig_place-search-box", list="orig_place-search-datalist", default=form.orig_place.label.text, autocomplete="off") }}
                                <datalist id="orig_place-search-datalist">
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-row mb-2">
                        <div class="col-auto">
                            <div class="text-center search-section-label">{{ form.orig_place_cert.label }}</div>
                        </div>
                        <div class="col">
                            <div>
                            {% for c in form.orig_place_cert.choices[1:] %}
                                <div class="form-check form-check-inline form-group mb-0">
                                    <input class="form-check-input" id="orig_place_cert_{{ c[0] }}" name="orig_place_cert" type="checkbox" value="{{ c[0] }}">
                                    <label class="form-check-label" for="orig_place_cert_{{ c[0] }}">{{ c[1] }}</label>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="text-center search-section-label"><strong>{{ _('Entstehungszeitsuche') }}</strong></div>
                    <div class="form-group mb-2">
                        <div class="form-row align-items-center justify-content-center">
                            <div class="date-range-label">{{ _('Von') }}</div>
                            <div class="form-group ml-2">
                                <div class="text-center">{{ form.orig_year_start.label }}</div>
                                {% if form.orig_year_start.errors %}
                                {{ form.orig_year_start(size=4, class="invalid-field form-control") }}
                                {% else %}
                                {{ form.orig_year_start(size=4, class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="date-range-label">{{ _('Bis') }}</div>
                            <div class="form-group ml-2">
                                <div class="text-center">{{ form.orig_year_end.label }}</div>
                                {% if form.orig_year_end.errors %}
                                {{ form.orig_year_end(size=4, class="invalid-field form-control") }}
                                {% else %}
                                {{ form.orig_year_end(size=4, class="form-control") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <div class="text-center search-section-label"><strong>{{ _('Manuskriptinhalt') }}</strong></div>
                        <div>
                            {{ form.ms_item(class="form-control my-0", placeholder=form.ms_item.label.text, id="ms_item-search-box", list="ms_item-search-datalist", default=form.ms_item.label.text, autocomplete="off") }}
                            <datalist id="ms_item-search-datalist">
                            </datalist>
                        </div>
                    </div>
                    <div class="text-center search-section-label"><strong>{{ _('Personensuche') }}</strong></div>
                    <div class="form-group form-row mb-2 align-items-center">
                        <div class="col-auto">
                            <div class="text-center search-section-label">{{ _('Personenname') }}</div>
                        </div>
                        <div class="col">
                            <div>
                                {{ form.person(class="form-control my-0", placeholder=form.person.label.text, id="person-search-box", list="person-search-datalist", default=form.person.label.text, autocomplete="off") }}
                                <datalist id="person-search-datalist">
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-row mb-2">
                        <div class="col-auto">
                            <div class="text-center search-section-label">{{ form.person_role.label }}</div>
                        </div>
                        <div class="col">
                            <div>
                            {% for c in form.person_role.choices[1:] %}
                                <div class="form-check form-check-inline form-group mb-0">
                                    <input class="form-check-input" id="person_role_{{ c[0] }}" name="person_role" type="checkbox" value="{{ c[0] }}">
                                    <label class="form-check-label" for="person_role_{{ c[0] }}">{{ c[1] }}</label>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <div class="text-center search-section-label"><strong>{{ form.provenance.label }}</strong></div>
                        <div>
                            {{ form.provenance(class="form-control my-0", placeholder=form.provenance.label.text, id="provenance-search-box", list="provenance-search-datalist", default=form.provenance.label.text, autocomplete="off") }}
                            <datalist id="provenance-search-datalist">
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <div class="text-center search-section-label"><strong>{{ _('Digitalisate') }}</strong></div>
                        <div class="form-check form-check-inline form-group mb-0">
                            <input class="form-check-input" id="with_digitalisat_checkbox" name="with_digitalisat" type="checkbox" value="true">
                            <label class="form-check-label" for="with_digitalisat_checkbox">{{ form.with_digitalisat.label.text }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
{% endblock %}
