{% if g.search_form and 'advanced_search' not in request.url %}
<form id="simple-search-form" class="form mb-0" method="get" action="{{ url_for('search.r_simple_search') }}">
    <div class="form-row">
        {{ g.search_form.simple_q(size=25, class="form-control my-0", placeholder=g.search_form.simple_q.label.text, id="simple-search-q", list="simple-search-datalist", autocomplete="off") }}
        <datalist id="simple-search-datalist">
        </datalist>
    </div>
    <div class="form-row justify-content-between">
        <a id="advanced-search-link-tooltip" data-toggle="tooltip" data-container="#advanced-search-link-tooltip" class="nav-link text-white p-0 text-right relative-position" href="{{ url_for('search.r_advanced_search') }}" title="{{ _('Zur Seite der erweiterten Suche') }}">{{ _('Erweiterte Suche') }}</a>
    </div>
</form>
{% endif %}
