{% extends "container.html" %}
{% block title %}Coenotur: {{ _('Suchergebnisse') }}{% endblock %}

{% block body %}
    <article class="container-fluid">
    <header>
    {% if total_results['value'] > 0 %}
            <h1>{{ _('Suchergebnisse') }}: {{ total_results['value']|string }} {{ _(' Treffer aus') }} <span id="aggs-all-docs" data-toggle="tooltip" data-container="#aggs-all-docs" title="{{ _('Die Gesamtzahl der Dokumente in den gewählten Corpora.') }}">{{ aggs['all_docs']['doc_count']|string }}</span> {{ _('Dokumenten') }}</h1>
        
    
    {% else %}
    <h1>{{ _('Suchergebnisse') }} ({{ total_results['value']|string }} {{ _(' Treffer') }})</h1>
    {% endif %}
    </header>
    {% if posts|length == 0 %}
    <h4>{{ _("Keine Ergebnisse") }}</h4>
    {% endif %}
    
    <table id="partsSearchResultTable" class="table table-sm table-hover table-bordered" aria-label="{{ _('Suchergebnisse') }}">
        <thead>
            <tr>
                <th id="results-text-column" scope="col">{{ _('Text') }}</th>
                <th id="results-date-column" scope="col">{{ _('Entstehungszeit') }}</th>
                <th id="results-title-column" scope="col">{{ _('Manuskript') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>
                    {% if 'highlight' in post %}
                    {% for k, v in post['highlight'].items() %}
                    <p class="card-text m-0"><u>{{ highlight_mapping[k] }}</u></p>
                    {% for h in v %}
                        {% if k == 'with_digitalisat' %}
                        <p class="card-text m-0"><small>- <a href="{{ h|striptags }}" target="_blank">{{ h|safe }}</a></small></p>
                        {% else %}
                        <p class="card-text m-0"><small>- {{ h|safe }}</small></p>
                        {% endif %}
                    {% endfor %}
                    {% endfor %}
                    {% endif %}
                    {% if 'inner_hits' in post %}
                    {% for k, v in post['inner_hits'].items() %}
                        <p class="card-text m-0"><u>{{ highlight_mapping[k] }}</u></p>
                        
                        {% for h in v['hits']['hits'] %}
                        <p class="card-text m-0"><small>
                            {% for sub_k, sub_v in h['_source'].items() %}
                                {% if k + '.' + sub_k in h['highlight'] %}
                                    {% if not loop.first %}/ {% endif %}{{ highlight_mapping[k + '.' + sub_k] + ': ' + h['highlight'][k + '.' + sub_k]|join(',')|safe }}
                                {% else %}
                                    {% if sub_v %}
                                    {% if not loop.first %}/ {% endif %}{{ highlight_mapping[k + '.' + sub_k] + ': ' + sub_v }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </small></p>
                        {% endfor %}
                    {% endfor %}
                    {% endif %}
                </td>
                <td>{% if post['_source']['date_string'] != ' ' %}{{ post['_source']['date_string'] }}{% endif %}</td>
                <td data-order="{{ loop.index }}"><a class="internal-link" href="{{ url_for('main.handschrift', manuscript=post['_id']+'.xml') }}">{{ post['_id']|replace('_desc', '')|replace('_', ' ') }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </article>
{% endblock %}
