{% extends "container.html" %}
            
{%block body%}
<div class="container">
   <header>
      <h1 class="text-center">{{ _('Bibliographie') }}</h1>
   </header>
    
    
        
        
   <p class="biblEntry" id="Bischoff 1998">
      <span class="surname">Bischoff</span>, <span class="forename">Bernard</span>: <span class="bookTitle">Katalog der festländischen Handschriften des neunten Jahrhunderts (mit Ausnahme der wisigothischen) - Teil I: Aachen-Lambach</span>, <span class="publicationPlace">Wiesbaden</span> 
      <span class="publicationYear">1998</span>.</p>
   <p class="biblEntry" id="Bischoff 2004">
      <span class="surname">Bischoff</span>, <span class="forename">Bernard</span>: <span class="bookTitle">Katalog der festländischen Handschriften des neunten Jahrhunderts (mit Ausnahme der wisigotischen) - Teil II: Laon-Paderborn</span>, <span class="publicationPlace">Wiesbaden</span> 
      <span class="publicationYear">2004</span>.</p>
   <p class="biblEntry" id="Bischoff 2014">
      <span class="surname">Bischoff</span>, <span class="forename">Bernard</span>: <span class="bookTitle">Katalog der festländischen Handschriften des neunten Jahrhunderts (mit Ausnahme der wisigothischen) - Teil III: Padua-Zwickau</span>, <span class="publicationPlace">Wiesbaden</span> 
      <span class="publicationYear">2014</span>.</p>
   <p class="biblEntry" id="Köhler 1930">
      <span class="surname">Köhler</span>, <span class="forename">Wilhelm</span>: <span class="bookTitle">Die karolingischen Miniaturen. Im Auftrage des Deutschen Vereins für Kunstwissenschaft - Erster Band: Die Schule von Tours - Teil 1: Die Ornamentik</span>, <span class="publicationPlace">Berlin</span> 
      <span class="publicationYear">1930</span>.</p>
   <p class="biblEntry" id="Rand 1229">
      <span class="surname">Rand</span>, <span class="forename">Edward Kennard</span>: <span class="bookTitle">A Survey of the Manuscripts of Tours</span>, <span class="publicationPlace">Cambridge, MA</span> 
      <span class="publicationYear">1929</span> (<span class="publicationSeries">Studies in the Script of Tours</span>).</p>


    
</div>
{%endblock%}
