{% extends "container.html" %}
            
{%block body%}
<div class="container">
   <header>
      <h1 class="text-center">{{ _('Bibliographie') }}</h1>
   </header>
    
    
        
        
   <p class="biblEntry" id="ANDERSON/BLACK_1997">
      <span class="surname">Anderson</span>, <span class="forename">Diane Warne</span> und <span class="forename">Jonathan</span> 
      <span class="surname">Black</span>: <span class="articleTitle">The Medieval Manuscripts of the Cologne Cathedral Library</span>, <span class="publicationYear">1997</span>
   </p>
   <p class="biblEntry" id="BERGER_1893">
      <span class="surname">Berger</span>, <span class="forename">Philippe</span>: <span class="bookTitle">Histoire de la Vulgate pendant les premiers siècles du Moyen Âge</span>, <span class="publicationPlace">Paris</span> 
      <span class="publicationYear">1893</span>.</p>
   <p class="biblEntry" id="BIERBRAUER_1990">
      <span class="surname">Bierbrauer</span>, <span class="forename">Katharina</span>: <span class="bookTitle">Die vorkarolingischen und karolingischen Handschriften der Bayerischen Staatsbibliothek</span>, <span class="publicationPlace">Wiesbaden</span> 
      <span class="publicationYear">1990</span> (<span class="publicationSeries">Katalog der illuminierten Handschriften der Bayerischen Staatsbibliothek in München</span>).</p>
   <p class="biblEntry" id="BISCHOFF_1979">
      <span class="surname">Bischoff</span>, <span class="forename">Bernard</span>: <span class="bookTitle">Paläographie des römischen Altertums und des abendländischen Mittelalters</span>, <span class="publicationPlace">Berlin</span> 
      <span class="publicationYear">1979</span> (<span class="publicationSeries">Grundlagen der Germanistik</span>).</p>
   <p class="biblEntry" id="BISCHOFF_1998">
      <span class="surname">Bischoff</span>, <span class="forename">Bernard</span>: <span class="bookTitle">Katalog der festländischen Handschriften des neunten Jahrhunderts (mit Ausnahme der wisigotischen) - Teil I: Aachen-Lambach</span>, <span class="publicationPlace">Wiesbaden</span> 
      <span class="publicationYear">1998</span>.</p>
   <p class="biblEntry" id="BISCHOFF_2004">
      <span class="surname">Bischoff</span>, <span class="forename">Bernard</span>: <span class="bookTitle">Katalog der festländischen Handschriften des neunten Jahrhunderts (mit Ausnahme der wisigotischen) - Teil II: Laon-Paderborn</span>, <span class="publicationPlace">Wiesbaden</span> 
      <span class="publicationYear">2004</span>.</p>
   <p class="biblEntry" id="BISCHOFF_2014">
      <span class="surname">Bischoff</span>, <span class="forename">Bernard</span>: <span class="bookTitle">Katalog der festländischen Handschriften des neunten Jahrhunderts (mit Ausnahme der wisigotischen) - Teil III: Padua-Zwickau</span>, <span class="publicationPlace">Wiesbaden</span> 
      <span class="publicationYear">2014</span>.</p>
   <p class="biblEntry" id="BISCHOFF_1960">
      <span class="surname">Bischoff</span>, <span class="forename">Bernhard</span>: <span class="bookTitle">Die südostdeutschen Schreibschulen und Bibliotheken in der Karolingerzeit. Band 1: Die bayerischen Diözesen</span>, <span class="publicationPlace">Wiesbaden</span> 
      <span class="publicationYear">1960</span>.</p>
   <p class="biblEntry" id="BISCHOFF_1967">
      <span class="surname">Bischoff</span>, <span class="forename">Bernhard</span>: <span class="sectionTitle">Aus Alkuins Erdentages</span>, in: <span class="forename">Bernhard</span> 
      <span class="surname">Bischoff</span> (Hg.), <span class="bookTitle">Mittelalterliche Studien. Ausgewählte Aufsätze zur Schriftkunde und Literaturgeschichte, Bd. 2</span>, <span class="publicationPlace">Stuttgart</span> 
      <span class="publicationYear">1967</span>, <span class="pubPages">S. 12–18</span>.</p>
   <p class="biblEntry" id="CLARK/VAN_DER_WEERD_2004">
      <span class="surname">Clark</span>, <span class="forename">Robin J. H.</span> und <span class="forename">Jaap</span> 
      <span class="surname">van der Weerd</span>: <span class="articleTitle">Identification of pigments and gemstones on the Tours Gospel: the early 9th century Carolingian palette</span>, in: <span class="bookTitle">Journal of Raman Spectroscopy 35</span> (<span class="publicationYear">2004</span>), <span class="pubPages">S. 279–283</span>.</p>
   <p class="biblEntry" id="ECKHARD_1723">
      <span class="surname">Eckhard</span>, <span class="forename">Tobias</span>: <span class="bookTitle">Codices manuscripti Quedlinburgenses</span>, <span class="publicationPlace">Quedlinburg</span> 
      <span class="publicationYear">1723</span>.</p>
   <p class="biblEntry" id="ECKHARDT_1962">
      <span class="surname">Eckhardt</span>, <span class="forename">Karl August</span>: <span class="bookTitle">Pactus legis Salicae</span>, <span class="publicationPlace">Hannover</span> 
      <span class="publicationYear">1962</span> (<span class="publicationSeries">MGH LL nat. Germ.</span>).</p>
   <p class="biblEntry" id="FISCHER_1971">
      <span class="surname">Fischer</span>, <span class="forename">Bonifatius</span>: <span class="sectionTitle">Die Alkuin-Bibeln</span>, in: <span class="forename">Henry</span> 
      <span class="surname">Steiger</span> (Hg.), <span class="bookTitle">Die Biel von Moutier-Grandval. British Musuem. Add. Ms. 10456</span>, <span class="publicationPlace">Bern</span> 
      <span class="publicationYear">1971</span>, <span class="pubPages">S. 49–98</span>.</p>
   <p class="biblEntry" id="FLIEGE_1982">
      <span class="surname">Fliege</span>, <span class="forename">Jutta</span>: <span class="bookTitle">Die Handschriften der ehemaligen Stifts- und Gymnasialbibliothek Quedlinburg in Halle</span>, <span class="publicationPlace">Halle</span> 
      <span class="publicationYear">1982</span>.</p>
   <p class="biblEntry" id="THE_EARLY_MEDIEVAL_BIBLE">
      <span class="surname">Gameson</span>, <span class="forename">Richard</span>: <span class="bookTitle">The early medieval Bible: its production, decoration, and use</span>, <span class="publicationPlace">Cambridge</span> 
      <span class="publicationYear">1994</span> (<span class="publicationSeries">Cambridge Studies in Palaeography and Codicology</span>).</p>
   <p class="biblEntry" id="GANZ_1994">
      <span class="surname">Ganz</span>, <span class="forename">David</span>: <span class="sectionTitle">Mass production of early medieval manuscripts: the Carolingian Bibles from Tours</span>, in: <span class="bookTitle">The early medieval Bible: its production, decoration, and use</span>, <span class="publicationPlace">Cambridge</span> 
      <span class="publicationYear">1994</span>,  (<span class="publicationSeries">Cambridge Studies in Palaeography and Codicology</span>), <span class="pubPages">S. 53–62</span>.</p>
   <p class="biblEntry" id="GLAUCHE_2011">
      <span class="surname">Glauche</span>, <span class="forename">Günther</span>: <span class="bookTitle">Die Pergamenthandschriften aus dem Domkapitel Freising. Band 2: Clm 6317-6437</span>, <span class="publicationPlace">Wiesbaden</span> 
      <span class="publicationYear">2011</span> (<span class="publicationSeries">Katalog der lateinischen Handschriften der Bayerischen Staatsbibliothek München</span>).</p>
   <p class="biblEntry" id="HAUKE_1994">
      <span class="surname">Hauke</span>, <span class="forename">Hermann</span>: <span class="bookTitle">Katalog der lateinischen Fragmente der Bayerischen Staatsbibliothek München. Band 1: Clm 29202-29311</span>, <span class="publicationPlace">Wiesbaden</span> 
      <span class="publicationYear">1994</span>.</p>
   <p class="biblEntry" id="HELLMANN_2002">
      <span class="surname">Hellmann</span>, <span class="forename">Martin</span>: <span class="sectionTitle">Die Auszeichnung der Textstruktur in einer biographischen Sammeledition der Karolingerzeit am Beispiel des "Weissenburger Martinellus"</span>, in: <span class="forename">Dorothea</span> 
      <span class="surname">Walz</span> (Hg.), <span class="bookTitle">Scripturus vitam. Lateinischen Biographie von der Antike bis in die Gegenwart. Festgabe für Walter Berschin zum 65. Geburtstag</span>, <span class="publicationPlace">Heidelberg</span> 
      <span class="publicationYear">2002</span>, <span class="pubPages">S. 243–262</span>.</p>
   <p class="biblEntry" id="KEEFE_2012">
      <span class="surname">Keefe</span>, <span class="forename">Susan Ann</span>: <span class="bookTitle">A catalogue of works pertaining to the explanation of the creed in Carolingian mauscripts</span>, <span class="publicationPlace">Turnhout</span> 
      <span class="publicationYear">2012</span> (<span class="publicationSeries">Instrumenta patristica et mediaevalia</span>).</p>
   <p class="biblEntry" id="KÖHLER_1930">
      <span class="surname">Köhler</span>, <span class="forename">Wilhelm</span>: <span class="bookTitle">Die karolingischen Miniaturen. Im Auftrage des Deutschen Vereins für Kunstwissenschaft - Erster Band: Die Schule von Tours - Teil 1: Die Ornamentik</span>, <span class="publicationPlace">Berlin</span> 
      <span class="publicationYear">1930</span>.</p>
   <p class="biblEntry" id="KÖHLER_1931">
      <span class="surname">Köhler</span>, <span class="forename">Wilhelm</span>: <span class="articleTitle">E. K. Rand, A Survey of the Manuscripts of Tours, Studies in the Script of Tours I, 1929. Rezension</span>, in: <span class="bookTitle">Göttingische Gelehrte Anzeigen 193</span> (<span class="publicationYear">1931</span>), <span class="pubPages">S. 321–366</span>.</p>
   <p class="biblEntry" id="MCKITTERICK_1989">
      <span class="surname">McKitterick</span>, <span class="forename">Rosamond</span>: <span class="bookTitle">The Carolingians and the Written Word</span>, <span class="publicationPlace">Cambridge</span> 
      <span class="publicationYear">1989</span>.</p>
   <p class="biblEntry" id="MCKITTERICK_1994">
      <span class="surname">McKitterick</span>, <span class="forename">Rosamund</span>: <span class="sectionTitle">Carolingian Bible production: the Tours anomaly</span>, in: <span class="bookTitle">The Early Medieval Bible. Its Production, Decoration and Use</span>, <span class="publicationPlace">Cambridge</span> 
      <span class="publicationYear">1994</span>, <span class="pubPages">S. 63–77</span>.</p>
   <p class="biblEntry" id="MEYER/BURCKHARDT_1960">
      <span class="surname">Meyer</span>, <span class="forename">Gustav</span> und <span class="forename">Max</span> 
      <span class="surname">Burckhardt</span>: <span class="bookTitle">Die mittelalterlichen Handschriften der Universitätsbibliothek Basel. Beschreibendes Verzeichnis. Abteilung B: Theologische Pergamenthandschriften. Erster Band: Signaturen B I 1 - B VIII 10</span>, <span class="publicationPlace">Basel</span> 
      <span class="publicationYear">1960</span>.</p>
   <p class="biblEntry" id="MORDEK_1995">
      <span class="surname">Mordek</span>, <span class="forename">Hubert</span>: <span class="bookTitle">Bibliotheca capitualium regum Francorum manuscripta. Überlieferung und Traditionszusammenhang der fränkischen Herrschererlasse</span>, <span class="publicationPlace">München</span> 
      <span class="publicationYear">1995</span> (<span class="publicationSeries">Monumenta Germaniae Historica</span>).</p>
   <p class="biblEntry" id="NESKE_2005">
      <span class="surname">Neske</span>, <span class="forename">Ingeborg</span>: <span class="bookTitle">Die Handschriften aus St. Emmeram in Regensburg. Band 2: Clm 14131-14260</span>, <span class="publicationPlace">Wiesbaden</span> 
      <span class="publicationYear">2005</span> (<span class="publicationSeries">Katalog der lateinischen Handschriften der Bayerischen Staatsbibliothek München</span>).</p>
   <p class="biblEntry" id="GLAUBE_UND_WISSEN_1998">
      <span class="surname">Plotzek</span>, <span class="forename">Joachim</span> und <span class="forename">Ulrike</span> 
      <span class="surname">Surmann</span>: <span class="bookTitle">Katalogbuch zur Ausstellung „Glaube und Wissen im Mittelalter - die Kölner Dombibliothek“. Erzbischöfliches Diözesanmuseum Köln, 7. August bis 16. September 1998</span>, <span class="publicationPlace">München</span> 
      <span class="publicationYear">1998</span>.</p>
   <p class="biblEntry" id="RAND_1929">
      <span class="surname">Rand</span>, <span class="forename">Edward Kennard</span>: <span class="bookTitle">A Survey of the Manuscripts of Tours</span>, <span class="publicationPlace">Cambridge, MA</span> 
      <span class="publicationYear">1929</span> (<span class="publicationSeries">Studies in the Script of Tours</span>).</p>
   <p class="biblEntry" id="RIO_2009">
      <span class="surname">Rio</span>, <span class="forename">Alice</span>: <span class="bookTitle">Legal Practice and the Written Word in the Early Middle Ages. Frankish Formulae, c. 500-1000</span>, <span class="publicationPlace">Cambridge</span> 
      <span class="publicationYear">2009</span> (<span class="publicationSeries">Cambridge Studies in Medieval Life and Thought. Fourth Series</span>).</p>
   <p class="biblEntry" id="SCHERRER_1875">
      <span class="surname">Scherrer</span>, <span class="forename">Gustav</span>: <span class="bookTitle">Verzeichniss der Handschriften der Stiftsbibliothek von St. Gallen</span>, <span class="publicationPlace">Halle</span> 
      <span class="publicationYear">1875</span>.</p>
   <p class="biblEntry" id="UBL_2014">
      <span class="surname">Ubl</span>, <span class="forename">Karl</span>: <span class="articleTitle">Gab es das Leges-Skriptorium Ludwigs des Frommen?</span>, in: <span class="bookTitle">Deutsches Archiv 70</span> (<span class="publicationYear">2014</span>), <span class="pubPages">S. 43–65</span>.</p>
   <p class="biblEntry" id="VON_EUW_1989">
      <span class="surname">von Euw</span>, <span class="forename">Anton</span>: <span class="bookTitle">Das Buch der vier Evangelien. Kölns karolingische Evangelienbücher. Begleitheft zur Ausstellung des Schnütgen-Museums, Köln 7. April - 9. Juli 1989</span>, <span class="publicationPlace">Köln</span> 
      <span class="publicationYear">1989</span> (<span class="publicationSeries">Kölner Museumsbulletin, Sonderheft</span>).</p>


    
</div>
{%endblock%}
