{% extends "container.html" %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>{{title}}</h1>
            <table class="table table-hover">
                <tr>
                    <th scope="row">Bezeichnung</th>
                    <td>{{title|safe}}</td>
                </tr>
                {% if m_d['old_sigs'] %}
                <tr>
                    <th scope="row">Alte Signaturen/Katalognummern</th>
                    <td>{{ m_d['old_sigs']|join('; ')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['contents'] %}
                <tr>
                    <th scope="row">Autor bzw. Sachtitel oder Inhaltsbeschreibung</th>
                    <td>
                        <ul class="list-unstyled mb-0">
                        {% for i in m_d['contents'] %}
                        <li>{% if i['author'] != '' %}{{ i['author'] }}, {% endif %}{{ i['title'] }}
                        </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Sprache</th>
                    <td>{% for i in m_d['contents']|unique(attribute="language") %}{{ i['language']|safe }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                </tr>
                <tr>
                    <th scope="row">Thema / Text- bzw. Buchgattung</th>
                    <td>{% for i in m_d['contents']|unique(attribute="class") %}{{ i['class']|safe }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                </tr>
                {% endif %}
                {% if m_d['general_notes'] %}
                <tr>
                    <th scope="row">Allgemeine Informationen</th>
                    <td>{{ m_d['general_notes']|join(' ')|safe }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th class="text-center" scope="col" colspan="2"><h4>ÄUßERES</h4></td>
                </tr>
                {% if m_d['origin']['place'] %}
                <tr>
                    <th scope="row">Entstehungsort</th>
                    <td>{{ m_d['origin']['place']|join('<br>')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['origin']['date'] %}
                <tr>
                    <th scope="row">Entstehungszeit</th>
                    <td>{{ m_d['origin']['date']|join('<br>')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['origin']['commentary'] %}
                <tr>
                    <th scope="row">Kommentar zu Entstehungsort und -zeit</th>
                    <td>{{ m_d['origin']['commentary']|join(' ')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['obj_form'] %}
                <tr>
                    <th scope="row">Überlieferungsform</th>
                    <td>{{ m_d['obj_form']|capitalize|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['obj_material'] %}
                <tr>
                    <th scope="row">Beschreibstoff</th>
                    <td>{{ m_d['obj_material']|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['num_pages'] %}
                <tr>
                    <th scope="row">Blattzahl</th>
                    <td>{{ m_d['num_pages']|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['page_size'] %}
                <tr>
                    <th scope="row">Format</th>
                    <td>{{ m_d['page_size']|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['dim_written'] %}
                <tr>
                    <th scope="row">Schriftraum</th>
                    <td>{{ m_d['dim_written']|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['num_columns'] %}
                <tr>
                    <th scope="row">Spalten</th>
                    <td>{{ m_d['num_columns']|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['written_lines'] %}
                <tr>
                    <th scope="row">Zeilen</th>
                    <td>{{ m_d['written_lines']|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['script_desc'] %}
                <tr>
                    <th scope="row">Schriftbeschreibung</th>
                    <td>{{ m_d['script_desc']|join(', ')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['hand_desc'] %}
                <tr>
                    <th scope="row">Angaben zu Schreibern</th>
                    <td>{{ m_d['hand_desc']|join('<br>')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['layout_notes'] %}
                <tr>
                    <th scope="row">Layout</th>
                    <td>{{ m_d['layout_notes']|join('<br>')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['binding'] %}
                <tr>
                    <th scope="row">Einband</th>
                    <td>{{ m_d['binding']|join(' ')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['condition'] %}
                <tr>
                    <th scope="row">Zustand</th>
                    <td>{{ m_d['condition']|join(' ')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['illuminations'] %}
                <tr>
                    <th scope="row">Illuminationen</th>
                    <td>{{ m_d['illuminations']|join('<br>')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['marginal'] %}
                <tr>
                    <th scope="row">Ergänzungen und Benutzungsspuren</th>
                    <td>
                    {% for n in m_d['marginal'] %}
                    - {{ n|safe }}<br>
                    {% endfor %}
                    </td>
                </tr>
                {% endif %}
                {% if m_d['neumen'] %}
                <tr>
                    <th scope="row">Neumierung</th>
                    <td>
                    {% for n in m_d['neumen'] %}
                    - {{ n|safe }}<br>
                    {% endfor %}
                    </td>
                </tr>
                {% endif %}
                {% if m_d['exlibris'] %}
                <tr>
                    <th scope="row">Exlibris</th>
                    <td>{{ m_d['exlibris']|join('<br>')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['tironoten'] %}
                <tr>
                    <th scope="row">Tironische Noten</th>
                    <td>{{ m_d['tironoten']|join('<br>')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['provenance'] %}
                <tr>
                    <th scope="row">Provenienz</th>
                    <td>{{ m_d['provenance']|join('; ')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['provenance_notes'] %}
                <tr>
                    <th scope="row">Geschichte der Handschrift</th>
                    <td>{{ m_d['provenance_notes']|join(' ')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['bibliography'] %}
                <tr>
                    <th scope="row">Bibliographie</th>
                    <td>{% for b in m_d['bibliography'] %}
                        {% if b|replace(' ', '_') in bibl_ids %}<a id="bibl-{{ loop.index }}-search-tooltip"
                                                          data-toggle="tooltip"
                                                 href="{{ url_for('main.bibliography') }}#{{ b|replace(' ', '_') }}"
                              data-container="#bibl-{{ loop.index }}-search-tooltip"
                              data-html="true"
                              title="{{ bibl_ids[b|replace(' ', '_')] }}">{{ b }}</a>{% else %}{{ b }}{% endif %}{% if m_d['bibliography'][b] %}, {{ m_d['bibliography'][b]|join(', ')|safe }}{% endif %}{% if not loop.last %}; {% endif %}{% endfor %}.</td>
                </tr>
                {% endif %}
                {% if m_d['online_description'] %}
                <tr>
                    <th scope="row">Online Beschreibung</th>
                    <td>{{ m_d['online_description']|join('<br>')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['digital_representations'] %}
                <tr>
                    <th scope="row">Digitalisat</th>
                    <td>{{ m_d['digital_representations']|join('; ')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['contents']|selectattr('parts')|list|length > 0 %}
                    <tr>
                        <th class="text-center" scope="col" colspan="2"><h4>INNERES</h4></td>
                    </tr>
                    {% if m_d['contents'] %}
                    <tr>
                        <th scope="row">Autor bzw. Sachtitel oder Inhaltsbeschreibung</th>
                        <td>
                            <ul class="list-unstyled mb-0">
                            {% for i in m_d['contents'] %}
                            <li>{% if i['locus'] %}{{ i['locus'] }} - {% endif %}{% if i['author'] != '' %}{{ i['author'] }}, {% endif %}{{ i['title'] }}
                                {% for sub_i in i['parts'] %}
                                    {% if loop.first %}<ul>{% endif %}
                                <li>{{ sub_i['locus']|safe }} - {% if sub_i['author'] %}{{ sub_i['author']|safe }}, {% endif %}{{ sub_i['title']|safe }}{% if sub_i['notes'] %} ({{ sub_i['notes']|safe }}){% endif %}</li>
                                    {% if loop.last %}</ul>{% endif %}
                                {% endfor %}
                            </li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endif %}
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}
