{% extends "container.html" %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-8">
            <h1>{{title}}{% if m_d['pdf'] %}<br/><span id="pdfLink">(<a href="{{ m_d['pdf'] }}" target="_blank">PDF</a>)</span>{% endif %}</h1>
            <table class="table table-hover">
                <tr>
                    <th scope="row">Bezeichnung</th>
                    <td>{{title|safe}}</td>
                </tr>
                {% if m_d['old_sigs'] %}
                <tr>
                    <th scope="row">Alte Signaturen/Katalognummern</th>
                    <td>{{ m_d['old_sigs']|join('; ')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['contents'] %}
                <tr>
                    <th scope="row">Autor bzw. Sachtitel oder Inhaltsbeschreibung</th>
                    <td>
                        <ul class="list-unstyled mb-0">
                        {% for i in m_d['contents'] %}
                        <li>{% if i['author'] != '' %}{{ i['author'] }}, {% endif %}{{ i['title'] }}
                        </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Sprache</th>
                    <td>{% for i in m_d['contents']|unique(attribute="language") %}{{ i['language']|safe }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                </tr>
                <tr>
                    <th scope="row">Thema / Text- bzw. Buchgattung</th>
                    <td>{% for i in m_d['contents']|unique(attribute="class") %}{{ i['class']|safe }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                </tr>
                {% endif %}
                {% if m_d['general_notes'] %}
                <tr>
                    <th scope="row">Allgemeine Informationen</th>
                    <td>{{ m_d['general_notes']|join(' ')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['ink_notes'] and not m_d['tintenanalyse']['ink'] and not m_d['tintenanalyse']['pigments'] %}
                <tr>
                    <th scope="row">Tintenanalyse</th>
                    <td>{{ m_d['ink_notes']|safe }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td/>
                    <th scope="col"><h4>ÄUßERES</h4></td>
                </tr>
                {% if m_d['origin']['place'] %}
                <tr>
                    <th scope="row">Entstehungsort</th>
                    <td>{{ m_d['origin']['place']|join('<br>')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['origin']['date'] %}
                <tr>
                    <th scope="row">Entstehungszeit</th>
                    <td>{{ m_d['origin']['date']|join('<br>')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['origin']['commentary'] %}
                <tr>
                    <th scope="row">Kommentar zu Entstehungsort und -zeit</th>
                    <td>{{ m_d['origin']['commentary']|join(' ')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['obj_form'] %}
                <tr>
                    <th scope="row">Überlieferungsform</th>
                    <td>{{ m_d['obj_form']|capitalize|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['obj_material'] %}
                <tr>
                    <th scope="row">Beschreibstoff</th>
                    <td>{{ m_d['obj_material']|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['num_pages'] %}
                <tr>
                    <th scope="row">Blattzahl</th>
                    <td>{{ m_d['num_pages']|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['page_size'] %}
                <tr>
                    <th scope="row">Format</th>
                    <td>{{ m_d['page_size']|join('<br>')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['dim_written'] %}
                <tr>
                    <th scope="row">Schriftraum</th>
                    <td>{{ m_d['dim_written']|join('<br>')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['num_columns'] %}
                <tr>
                    <th scope="row">Spalten</th>
                    <td>{{ m_d['num_columns']|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['written_lines'] %}
                <tr>
                    <th scope="row">Zeilen</th>
                    <td>{{ m_d['written_lines']|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['script_desc'] %}
                <tr>
                    <th scope="row">Schriftbeschreibung</th>
                    <td>{{ m_d['script_desc']|join(', ')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['hand_desc'] %}
                <tr>
                    <th scope="row">Angaben zu Schreibern</th>
                    <td>{{ m_d['hand_desc']|join('<br>')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['layout_notes'] %}
                <tr>
                    <th scope="row">Layout</th>
                    <td>{{ m_d['layout_notes']|join('<br>')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['binding'] %}
                <tr>
                    <th scope="row">Einband</th>
                    <td>{{ m_d['binding']|join(' ')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['condition'] %}
                <tr>
                    <th scope="row">Zustand</th>
                    <td>{{ m_d['condition']|join(' ')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['tintenanalyse']['ink'] %}
                <tr>
                    <th scope="row">Tintenanalyse</th>
                    <td>
                    {% for ink_type, ink_desc in m_d['tintenanalyse']['ink'].items() %}
                    <div class="card">
                        <a data-toggle="collapse" aria-expanded="false" href="#{{ ink_type|replace(' ', '-') }}-collapse" role="button" aria-controls="{{ ink_type|replace(' ', '-') }}-collapse" id="{{ ink_type|replace(' ', '-') }}-header">{{ ink_type }}</a>
                        <div id="{{ ink_type|replace(' ', '-') }}-collapse" class="collapse" aria-labelledby="{{ ink_type|replace(' ', '-') }}-header">
                            <ul>
                            {% for cat_plus_folien in ink_desc %}
                                {% for ink_cat, folien in cat_plus_folien.items() %}
                                    <li>
                                    {{ ink_cat|safe + ' (' + folien|safe + ')' }}
                                    </li>
                                {% endfor %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}</td>
                </tr>
                {% endif %}
                {% if m_d['tintenanalyse']['pigments'] %}
                <tr>
                    <th scope="row">Pigmentanalyse</th>
                    <td>
                    {% for pig_color, pig_desc in m_d['tintenanalyse']['pigments'].items() %}
                    <div class="card">
                        <a data-toggle="collapse" aria-expanded="false" href="#{{ pig_color|replace(' ', '-') }}-collapse" role="button" aria-controls="{{ pig_color|replace(' ', '-') }}-collapse" id="{{ pig_color|replace(' ', '-') }}-header">{{ pig_color }}</a>
                        <div id="{{ pig_color|replace(' ', '-') }}-collapse" class="collapse" aria-labelledby="{{ pig_color|replace(' ', '-') }}-header">
                            {% for pig_type, pig_info in pig_desc.items() %}
                                <ul class="mb-0">
                                    <li>{{ pig_type|safe }}
                                        <ul>
                                            {% for pig_deco, pig_folien in pig_info.items() %}
                                            <li>{{ pig_deco + ' (' + pig_folien|safe + ')'}}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}</td>
                </tr>
                {% endif %}
                {% if m_d['illuminations'] %}
                <tr>
                    <th scope="row">Illuminationen</th>
                    <td>
                    {% for deco_type, deco_desc in m_d['illuminations'].items() %}
                    {% if deco_type == "Allgemeine Miniaturen" %}
                        {% if deco_desc|length > 1%}- {% endif %}{{ deco_desc|join('<br>- ')|safe }}
                    {% else %}
                    <div class="card">
                        <a data-toggle="collapse" aria-expanded="false" href="#{{ deco_type|replace(' ', '-') }}-collapse" role="button" aria-controls="{{ deco_type|replace(' ', '-') }}-collapse">{{ deco_type }}</a>
                        <div id="{{ deco_type|replace(' ', '-') }}-collapse" class="collapse" aria-labelledby="{{ deco_type }}-header">
                                {% if deco_desc|length > 1%}- {% endif %}{{ deco_desc|join('<br>- ')|safe }}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}</td>
                </tr>
                {% endif %}
                {% if m_d['marginal'] %}
                <tr>
                    <th scope="row">Ergänzungen und Benutzungsspuren</th>
                    <td>
                    {% for n in m_d['marginal'] %}
                    - {{ n|safe }}<br>
                    {% endfor %}
                    </td>
                </tr>
                {% endif %}
                {% if m_d['neumen'] %}
                <tr>
                    <th scope="row">Neumierung</th>
                    <td>
                    {% for n in m_d['neumen'] %}
                    - {{ n|safe }}<br>
                    {% endfor %}
                    </td>
                </tr>
                {% endif %}
                {% if m_d['exlibris'] %}
                <tr>
                    <th scope="row">Exlibris</th>
                    <td>{{ m_d['exlibris']|join('<br>')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['tironoten'] %}
                <tr>
                    <th scope="row">Tironische Noten</th>
                    <td>{{ m_d['tironoten']|join('<br>')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['provenance'] %}
                <tr>
                    <th scope="row">Provenienz</th>
                    <td>{{ m_d['provenance']|join('; ')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['provenance_notes'] %}
                <tr>
                    <th scope="row">Geschichte der Handschrift</th>
                    <td>{{ m_d['provenance_notes']|join(' ')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['bibliography'] %}
                <tr>
                    <th scope="row">Bibliographie</th>
                    <td>{% for b in m_d['bibliography'] %}
                        {% if b|replace(' ', '_') in bibl_ids %}<a id="bibl-{{ loop.index }}-search-tooltip"
                                                          data-toggle="tooltip"
                                                 href="{{ url_for('main.bibliography') }}#{{ b|replace(' ', '_') }}"
                              data-container="#bibl-{{ loop.index }}-search-tooltip"
                              data-html="true"
                              title="{{ bibl_ids[b|replace(' ', '_')] }}">{{ b }}</a>{% else %}{{ b }}{% endif %}{% if m_d['bibliography'][b] %}, {{ m_d['bibliography'][b]|join(', ')|safe }}{% endif %}{% if not loop.last %}; {% endif %}{% endfor %}.</td>
                </tr>
                {% endif %}
                {% if m_d['online_description'] %}
                <tr>
                    <th scope="row">Online Beschreibung</th>
                    <td>{{ m_d['online_description']|join('<br>')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['digital_representations'] %}
                <tr>
                    <th scope="row">Digitalisat</th>
                    <td>{{ m_d['digital_representations']|join('; ')|safe }}</td>
                </tr>
                {% endif %}
                {% if m_d['contents']|selectattr('parts')|list|length > 0 %}
                    <tr>
                        <td/>
                        <th scope="col"><h4>INNERES</h4></td>
                    </tr>
                    {% if m_d['contents'] %}
                    <tr>
                        <th scope="row">Autor bzw. Sachtitel oder Inhaltsbeschreibung</th>
                        <td>
                            <ul class="list-unstyled mb-0">
                            {% for i in m_d['contents'] %}
                            <li>{% if i['locus'] %}{{ i['locus'] }} - {% endif %}{% if i['author'] != '' %}{{ i['author'] }}, {% endif %}{{ i['title'] }}
                                {% for sub_i in i['parts'] %}
                                    {% if loop.first %}<ul>{% endif %}
                                <li>{{ sub_i['locus']|safe }} - {% if sub_i['author'] %}{{ sub_i['author']|safe }}, {% endif %}{{ sub_i['title']|safe }}{% if sub_i['notes'] %} ({{ sub_i['notes']|safe }}){% endif %}</li>
                                    {% if loop.last %}</ul>{% endif %}
                                {% endfor %}
                            </li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endif %}
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}
