<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav my-0 mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="#" target="_blank">Über das Projekt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('handschriften') }}">Handschriftenliste</a>
            </li>
        </ul>
    </div>
</nav>
